# Edit this file to introduce tasks to be run by cron.
# 
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
# 
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').
# 
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
# 
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
# 
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
# 
# For more information see the manual pages of crontab(5) and cron(8)
# 
# m h  dom mon dow   command

# Fichero de datos tráfico
6 * * * * cd /home/daniel/Escritorio/TFGInformatica/StreamingSystem/data && wget 'https://datos.madrid.es/egob/catalogo/202087-0-trafico-intensidad.xml' -O 'ficheroTrafico.xml' && echo $(date) --\> Actualización ficheros de datos - Tráfico >> /home/daniel/Escritorio/TFGInformatica/Logs/dataFilesUpdates

# Fichero de datos contaminación
30 * * * * cd /home/daniel/Escritorio/TFGInformatica/StreamingSystem/data && wget 'https://datos.madrid.es/egob/catalogo/212531-10530806-calidad-aire-tiempo-real.xml' -O 'ficheroContaminacion.xml' && echo $(date) --\> Actualización fichero de datos - Contaminación >> /home/daniel/Escritorio/TFGInformatica/Logs/dataFilesUpdates 


